# Created by https://www.toptal.com/developers/gitignore/api/strapi,go
# Edit at https://www.toptal.com/developers/gitignore?templates=strapi,go

### Go ###
# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

### Strapi ###

.env
license.txt
exports
*.cache
build
.strapi-updater.json

############################
# OS X

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

# Linux

*~


# Windows

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


# Packages

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.o
*.seed
*.swo
*.swp
*.swn
*.swm
*.pid

# Logs and databases

.tmp
*.log
*.sql
*.sqlite
*.sqlite3


# Misc.

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep

# Node.js

lib-cov
lcov.info
pids
logs
results
node_modules
.node_history

# Tests

testApp
coverage

# End of https://www.toptal.com/developers/gitignore/api/strapi,go
